SUPABASE_URL=https://uyowqeonypyueydrmytn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5b3dxZW9ueXB5dWV5ZHJteXRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNzIzNiwiZXhwIjoyMDg2MTkzMjM2fQ.Nvo76zMjyPu54fMwmbjOGVTd2X3lYLbI__WrVcmM2UA
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5b3dxZW9ueXB5dWV5ZHJteXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MTcyMzYsImV4cCI6MjA4NjE5MzIzNn0.h9mSNMp3-syh6iuM3Og9JapRAwrBfj775oSfbDYsmQ0
